
/* ===== General classes */
.admin-title{
    font-family: var(--main-font);
    color: var(--purpel);
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
}

.thumbnail-image{
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin:20px 0;
}

.form-actions{
    display: flex;
    justify-content: space-around;
}


/* button  */
.add-new-btn{
    width: 120px;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--main-font);
    background-color: var(--purpel);
    font-weight: var(--bold);
    font-size: 20px;
    border-radius: 40px;
}

.btn{
    cursor: pointer;
    width: 80px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-family: var(--main-font);
    font-size: 16px;
}

.delete-btn{
    background-color: red;
    color: white;
    transition-duration: 0.2s;
}

.delete-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid red;
    color: red;
}

.edit-btn{
    background-color: var(--orange);
    transition-duration: 0.2s;
}

.edit-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--orange);
    color: var(--orange);

}


/* tables */

.admin-table{
      border-radius: 20px;
      overflow: hidden;
}

.admin-table thead{
    background-color: var(--text);
    
}

.table-footer{
    background-color: var(--text);
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.admin-table thead th{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--light);
    font-size: 20px;
}

.admin-table tbody td{
    color: var(--text);
    font-family: var(--main-font);
    font-weight: var(--light);
    font-size: 14px;
}









/* ====== Dashboard ======== */

.dashboard{
    min-height: 80vh;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dashboard-header{
    height: 5vh;
    width: 80%;
}

.dashboard-main{
    flex:1;
    width: 80%;
}





/* ================ Dashboard Nav ========== */

.dashboard-nav{
    display: flex;
    height: 100%;
    justify-content: space-around;
    border-bottom: 1px solid var(--purpel);
    border-top: 1px solid var(--purpel);
}

.dashboard-link{
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-link:hover{
    background-color: var(--purpel);
    color: white;
}

.dashboard-link-active{
    background-color: var(--purpel);
    color: white;

}




/* admin forms */
.inputs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}