
/* ============ Nav Bar =========== */
.navbar{
    width: 100%;
    max-height: 100%;
    min-height: 10vh;
    display: flex;
    background-color: var(--orange);
    align-items: center;
    padding: 0 50px;
    position: fixed;
    z-index:50;
   
}


.menu-item{
    margin-right: 20px;
}

.nav-logo{
    flex:1;
}

.nav-links{

}

.login-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: var(--cyan);
    color: var(--text);
    font-size: 20px;
    border-radius: 20px;
    transition: all ease 0.2s;
}

.login-btn:hover{
    border: 1px solid var(--cyan);
    background: none;
    color: var(--cyan);
    
}

.login-btn:active{
    transform: translateY(2px);
    
}





/* ============ SideNav =========== */
.sidenav{
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    
}

.sidenav-header{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sidenav-header h2{
    font-family: var(--spacial-font);
    font-size: 35px;
    color: var(--purpel);
}


.sidenav-links{
    display: flex;
    flex-direction: column;

   
}

.sidenav-link{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: var(--purpel);
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: var(--bold);
    transition: all ease 0.2s;  
}


.sidenav-link:hover{
    color:var(--orange);
    background-color: var(--purpel);
}


.sidenav-user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin:0 0 20px 0;
}

.sidenav-user img{
    border-radius: 50%;
    width:50px;
    margin-right: 10px;
}

.sidenav p{
    color: var(--purpel);
    font-family: var(--main-font);
    font-weight: var(--bold);
}



/* ============ Category Card =========== */
.category-card{
    width: 100%;
    height: 100px;
    display: flex;
    border: 1px solid black; 
    cursor: pointer;
    background-color: bisque;
    border-radius: 15px;
    overflow: hidden;
    transition: all ease 0.2s;
}

.category-card:hover{
    background-color: rgb(243, 197, 140);
  
}


.category-card-image{
    width: 30%;
}

.category-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-delay: 0.2s;
}

.category-card .category-card-title{
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: var(--light);
    margin:auto 0;
    margin-left: 20px;

}




/* ============ Product Card =========== */
.product-card{
    display: flex;
    width: 100%;
    font-family: var(--main-font);
    height: 150px;
    border: 1px solid var(--text);
    margin: 30px 0;
    background-color: bisque;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    color: var(--text);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
    transition-duration: 0.2s;
}

.product-card:hover{
    background-color: rgb(243, 197, 140);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.602);

}

.product-card img{
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.product-card .product-card-data{
    width: 55%;
    padding:10px 30px;
    border-right: 1px solid var(--purpel);
}

.product-card .product-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}




/* BreadCrumbs */
.bread-crumbs{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 50px;

}

.bread-crumbs .link{
    font-family: var(--main-font);
    font-weight: var(--light);
    cursor: pointer;
    transition-duration: 0.2s;
    color: var(--text);
}

.bread-crumbs .link:hover{
    text-decoration: underline;
}

.bread-crumbs .title{
    font-family: var(--main-font);
    font-weight: var(--bold);
    color: var(--text);

}




/* ============ Order Menu ============ */
.order-menu{
    padding: 20px 0;
    min-width: 400px;
    
    background-color: var(--orange);
    min-height: 100vh;
}

.order-menu h1{
    text-align: center;
    color: var(--purpel);
    font-family: var(--spacial-font);
    margin-bottom: 20px;
}

.order-menu .order-container{
    
    display: flex;
    flex-direction: column;
}

.order-menu .order-container .order-item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin:15px 0;
    
}



.order-menu .order-container .order-item img{
    width:100px;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.order-menu .order-container .order-item .order-price{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--main-font);
    color: var(--text);
}


.order-menu .order-container .order-item .order-actions{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-menu .order-container .order-item .order-actions span{
    width: 20px;
    height: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.order-menu .order-container .order-total{
    font-family: var(--main-font);
    text-align: right;
    padding:20px 40px;
}


.order-menu .order-container .checkout{
    display: flex;
    justify-content: center;
    padding: 0 30px;
}



.order-menu .order-container-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}


.order-menu .order-container-empty h2{
    font-family: var(--main-font);
    color:var(--purpel);
}
.order-menu .order-container-empty .empty-order-icon{
    color:var(--purpel);
    font-size: 5rem;
    margin-bottom: 30px;
}





/* ========== Restaurant Card ============== */

.restaurant-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--text);
    margin:50px 0;
}

.restaurant-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.restaurant-card-data{
    width: 100%;
    font-family: var(--main-font);
    color: var(--text);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.restaurant-card-data h3{
    color: var(--purpel);
}

.restaurant-page-opening{
    padding: 5px;
  
}




/* ============== job card =============== */
.job-card{
    width: 100%;
    font-family: var(--main-font);
    color: var(--text);
    border: 1px solid var(--text);
    
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
}

.job-card-details{
    width: 90%;
    padding: 10px 20px;
    border-right: 1px solid var(--text);
}

.job-card-actions{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




/* ============== Cupcake card =============== */
.cupcake-card{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition-duration: 0.2s;
}

.cupcake-card:hover{
    border: 1px solid var(--purpel);

}

.cupcake-card img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}


.cupcake-card .cupcake-card-data{
    width: 60%;
    padding: 10px 20px;
    font-family: var(--main-font);
}
.cupcake-card .cupcake-card-data h2{
    width: 100%;
    font-size: 2em;
    font-family: var(--spacial-font);
}


/* ============ Order Card =========== */
.order-card{
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    margin:50px 0;
    border: 1px solid var(--purpel);
    padding: 10px;
    border-radius: 10px;
    color: var(--text);
}

.order-card-information{
    width: 30%;
}

.order-card-items{
 flex: 1;
 padding: 0 20px;
 border-right: 1px solid var(--purpel);
 border-left: 1px solid var(--purpel);
}

.order-card-item{
    display: flex;
}


.order-card-status{
   padding:0 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}






/* ========== Job Dialog ============ */

.job-dialog{
    width: 500px;
    padding: 30px;
    font-family: var(--main-font);
    color: var(--text);
}

.job-dialog h4{
    margin: 10px 0;
}

.job-dialog-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}




/* ========== Appliaction Dialog ============ */
.application-dialog{
    min-width: 50%;
    padding: 20px;
    font-family: var(--main-font);
}
.application-dialog h1{
    color: var(--purpel);
}
.application-dialog p{
    font-weight: var(--light);
    color: var(--text);
    margin: 10px 0;
}

.application-dialog img{
    width: 60px;
    margin: auto;
}


/* ========== Legal Dialog ============ */
.legal-dialog{
    padding:20px;
    font-family: var(--main-font);
    color:var(--text);
}

.legal-dialog h2{
    text-align: center;
}
.legal-dialog p{
    margin:20px 0;
}
.legal-dialog .legal-dialog-action{
    display: flex;
    justify-content: center;
}

.legal-dialog-link{
    color:white;
    margin: 0 10px;
}


/* ============ footer =========== */
.footer{
    min-height: 100%;
    background-color: black;
    font-family: var(--main-font);
}


.footer-information{
}

.footer-information h3{
    font-family: var(--spacial-font);
    font-weight: var(--bold);
    font-size: 30px;
    color: white;
}

.footer-navigation{
  
}

.footer-navigation a{
    color: white;
    margin:5px 0;
    font-weight: var(--light);
    font-size: 20px;
}


.footer .social-media{
    display: flex;
    justify-content: space-between;

}

.footer .social-media a{
    color: white;
    font-size: 30px;

}

.footer .legal-items{
    margin:50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.102);
}




.footer .author-information{
    text-align: center;
    margin-bottom: 50px;
    
}

.footer .author-information p{
    color: white;
    font-weight: var(--light);
    font-size: 14px;
}

.footer .author-information a{
    color:var(--cyan);
    font-weight: var(--bold);
}







/* ============ Rotate Text =========== */

/* .rotate-text-circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

/* .rotate-text-image{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
} */

.rotate-text-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.rotate-text-text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    
}

@keyframes rotateText {
  0%{
      transform: rotate(360deg);
  }
  100%{
      transform: rotate(0);
  }
}

.rotate-text-text span{
    position: absolute;
    left: 50%;
    color: var(--text);
}
