/* ============== Home Page ============= */
.homepage-container{
    width: 100%;
    height: 100%;
   
}


/* header section */

.homepage-container .header{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.homepage-container .header .cupcake-image{
    position: absolute;
    width: 50%;
    min-width: 500px;
    left:0;
    bottom: -400px;
    z-index: 5;
    transition-duration: 2s;
    
  }

.homepage-container .header .background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 7;  
    
   
}

.homepage-container .header .stewberry-image{
    position: absolute;
    width: 120px;
    
}

.stewberry-1{
    top:50px;
    right: 100px;
    z-index: 5;
}
.stewberry-2{
    top:50px;
    right: 40px;
    z-index: 6;
    transform:scaleX(-1);
}

.homepage-container .header-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-50%);
    z-index: 10;
    transition-duration: 1s;
    width: fit-content;
}


.homepage-container .logo-image{
    transition-duration: 1s;
    opacity: 0;
}



.homepage-container .header h1{
    /* position: absolute; */
    /* z-index: 2; */
    /* top:20%; */
    /* left:50%; */
    /* transform: translate(-50%,-50%); */
    font-family: var(--spacial-font);
    font-size: 80px;
    color: var(--purpel);
    /* transition-duration: 1s; */
}

.homepage-container .header h2{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:50px;
    left:50%;
    z-index: 10;
    color: white;
    transform:translateX(-50%);
    font-family: var(--spacial-font);
    font-size: 100px;
    font-weight: var(--light);
    opacity: 0;
    transition-duration: 1s;
}


@media only screen and (max-width: 900px) {
    .homepage-container .header h2 {
        font-size: 50px;
    }
  }



  /* menu-section */
  .home-menu{
    
    padding:50px 100px;
    font-family: var(--main-font);
    background-color: rgba(255, 255, 255, 0.3);
  }

  @keyframes rotate360 {
    to { transform: rotate(360deg);}
  }

  .home-menu .menu-image{
      width: 100%;
      transition-duration: 1s;
      animation: 30s rotate360 infinite linear;

  }

  .home-menu h2{
      font-size: 50px;
      color: var(--text);
      margin-top: 30px;
      font-family: var(--spacial-font);
  }

  .home-menu p{
      font-weight: var(--light);
      font-size: 20px;
  }

  .home-menu button{
      margin:50px 0;
  }



  /* cupcake Section */
  .home-cupcake{
      font-family: var(--main-font);
      min-height: 500px;
      position: relative;
      padding: 50px;
      color: var(--text);
    }

   .home-cupcake img{
       position: absolute;
       left:-100%;
       width: 400px;
       transition-duration: 1s;
   }

   .home-cupcake h2{
       font-family: var(--spacial-font);
       font-size: 50px;
   }
   .home-cupcake p{
    font-weight: var(--light);
    font-size: 20px;
}

   .home-cupcake button{
       margin-top: 50px;
   }

   





  /* restaurant section */
  .home-restaurant{
      width: 100%;
      position: relative;
      height: 600px;
      font-family: var(--main-font);
  }

  

  .home-restaurant img{
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .home-restaurant .home-restaurant-box{
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      padding: 30px 50px;
      min-width: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      border-radius: 5px;
  }

  .home-restaurant .home-restaurant-box h2{
    color: white;
    font-size: 30px;
    font-weight: var(--light);
  }
  


/* ============== About Page ============= */
.about-page{
    width: 80%;
    min-height: 80vh;
    padding: 100px;
    margin: auto;
    font-family: var(--main-font)
}

.about-page .begin h2{
    text-align: center;
    color: var(--orange);
}

.about-page .begin p{
    font-weight: var(--light);
    margin:30px 0;
}

.about-page .begin-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page .begin-image img{
    width: 50%;
    border-radius: 20px;
}


.about-page-review{
    background-color: rgb(252, 228, 170);
    border: 1px solid var(--text);
    border-radius: 20px;
    text-align: center;
    margin:20px 10px;
    padding: 10px;
}

.about-page .reviews{
    margin: 50px 0;
}

.about-page .reviews h2{
    text-align: center;
    color: var(--orange);
}

.about-page-review h3{
    font-style: italic;
    font-weight: var(--normal);
    color: var(--text);
}

.about-page-review h5{
    font-weight: var(--light);
    margin-top: 20px;
    color: var(--text);
}


/* ============== Category Page ============= */
.category-page{
    width: 100%;
    background-color: #faebd7;
    min-height: 80vh;
    padding-bottom: 200px;
}

.category-page-grid-container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;

    
    
}

/* ============== Product Page ============= */

.product-page{
    min-height: 80vh;
    background-color: antiquewhite;
    width: 100%;
    
    
}


.product-page-container{
    width:50%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.product-page-left{
    display: flex;
    flex-direction: column;
}

.product-page-data{
   flex:1;
   font-family: var(--main-font);
   color:var(--text); 
   
}

.product-page-tags{
    display: flex;
    align-items: center;

}

.product-page-tags h4{
    display: flex;
    align-items: center;
    margin-right:20px;
    height: 50px;
    font-family: var(--main-font);
    color: var(--text);
    font-weight: var(--light)
}




/* ========== Menu Page ================ */

.menu-page{
    width: 100%;
    margin: auto;
    min-height: 90vh;
    background-color:var(--background);
    padding-bottom: 200px;
}

.menu-page .manu-page-grid-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .menu-page .manu-page-hover-image{
    width: 100%;
  }
  
  .manu-page-hover-image img{
    border-radius: 50px;
    width: 100%;
    opacity:1;
    transition: all ease 0.3s;
  }





  /* ============ Profile Page ================== */
  .profile-page{
      width: 100%;
      min-height: 80vh;
      background-color: var(--background);
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
  }

  .profile-page h2{
      font-family: var(--spacial-font);
      color: var(--purpel);
      text-align: center;
      margin-top: 20px;
  }

  .profile-page .user-data{
      width: 70%;
      margin: 100px auto
  }
  .profile-page .user-data .user-image{
      display: flex;
      justify-content: center;
  }

  .profile-page .user-data .user-image img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
  }

  .profile-page .user-data .user-details{
      margin-top: 20px;
      font-family: var(--main-font);
      color: var(--text);
  }





  /* ================== Checkout Page ================= */

  .checkout-page{
      padding: 20px 50px 100px 50px;
  }



  .checkout-page .checkout-page-submit{
      margin:200px 0;
      text-align: center;
      padding: 0 100px;
  }

  @media only screen and (max-width: 900px) {
    .checkout-page .checkout-page-submit {
        margin:50px 0;
        padding: 0 20px;
    }
  }

  .checkout-order-list{
      padding:30px 30px;
      width: 100%;
  }

  .checkout-order-list .checkout-order-list-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:20px 0;
  }

  .checkout-order-list .checkout-order-list-item img{
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .checkout-order-list .checkout-order-list-item p{
    font-family: var(--main-font);
    color: var(--text);
    font-weight: var(--light);
  }
  .checkout-order-list .checkout-order-list-item .item-name{
    flex:1;
  }


  .checkout-order-list .total{
      font-size: 2rem;
      text-align: right;
      color: var(--text);
      font-family: var(--main-font);
  }




/* ================== restaurants Page ================= */

    .restaurant-page{
        width: 80%;
        margin: auto;
    }




/* ================== apply Page ================= */

.apply-page form p{
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: var(--light);
}

@media only screen and (max-width: 900px) {
    .apply-page{
        padding: 0 50px;
    }
    .apply-page-job-description{
        margin: 80px 0;
    }
  }

.apply-page-job-description{
    font-family: var(--main-font);
    color: var(--text);
}

.apply-page-job-description h3{
    margin:10px 0;
}

.apply-page-job-description p{
    font-weight: var(--light);
}


  /* ================== CupCakes Page ================= */

  .cupcake-page{
      width: 100%;
      min-height: 80vh;
  }

  .cupcake-page-header{
      height: 40vh;
      width: 100%;
      position: relative;
  }

  .cupcake-page-header img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .cupcake-page-header h1{
      position: absolute;
      z-index: 1;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      font-size: 5rem;
      min-width: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
  }


  .cupcake-page-banners{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding:50px 0;
      background-color: rgb(229, 238, 246);
  }

  
  .cupcake-page-products{
      width: 80%;
      margin: 100px auto;
  }

  .capcake-page-products-image{
      
      width: 100%;
      height: 100%;
  }
  .capcake-page-products-image img{
      position: sticky;
      top:400px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
  }





    /* ================== Search results Page ================= */
.seatch-results-page{
   
}

.seatch-results-page .products-results{
    
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}