/* ============== Home Page ============= */
.homepage-container{
    width: 100%;
    height: 100%;
}

.homepage-container .header{
    width: 100%;
    height: 80vh;
    position: relative;
}

.homepage-container .header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.homepage-container .header h1{
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: var(--spacial-font);
    font-size: 80px;
    color: var(--purpel);
}


/* ============== Category Page ============= */
.category-page{
    width: 100%;
    background-color: antiquewhite;
    min-height: 80vh;
}

.category-page-grid-container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;

    
    
}

/* ============== Product Page ============= */

.product-page{
    min-height: 80vh;
    background-color: antiquewhite;
    width: 100%;
    
    
}


.product-page-container{
    width:50%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.product-page-left{
    display: flex;
    flex-direction: column;
}

.product-page-data{
   flex:1;
   font-family: var(--main-font);
   color:var(--text); 
   
}

.product-page-tags{
    display: flex;
    align-items: center;

}

.product-page-tags h4{
    display: flex;
    align-items: center;
    margin-right:20px;
    height: 50px;
    font-family: var(--main-font);
    color: var(--text);
    font-weight: var(--light)
}




/* ========== Menu Page ================ */

.menu-page{
    width: 100%;
    margin: auto;
    min-height: 90vh;
    background-color: antiquewhite;
}

.menu-page .manu-page-grid-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .menu-page .manu-page-hover-image{
    width: 100%;
  }
  
  .manu-page-hover-image img{
    border-radius: 50px;
    width: 100%;
    opacity:1;
    transition: all ease 0.3s;
  }





  /* ============ Profile Page ================== */
  .profile-page{
      width: 100%;
      min-height: 80vh;
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
  }

  .profile-page .user-data{
      width: 70%;
      margin: 100px auto
  }
  .profile-page .user-data .user-image{
      display: flex;
      justify-content: center;
  }

  .profile-page .user-data .user-image img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
  }

  .profile-page .user-data .user-details{
      margin-top: 20px;
      font-family: var(--main-font);
      color: var(--text);
  }
